@import './variables.scss';

body {
  font-family: $regular-font;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.hidden:not(:focus):not(:active),
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.articles-container {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articles {
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.load-more {
  width: 250px;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .load-more {
    width: 300px;
  }

  .articles-container {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .articles {
    padding-top: 60px;
  }

  .articles-container {
    width: 50%;
  }
}
