$title-font: 'Bebas Neue', sans-serif;
$regular-font: 'Roboto', sans-serif;
$thin-font: 'Indie Flower', serif;
$color-bright: #011859;
$color-light-bright: #045e94;
$color-main: #5fc0a0;
$color-light-main: #96cd5d;
$color-additional: #e23f72;