@import '../variables.scss';

.footer {
  min-height: 180px;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  color: #ffffff;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.created-by {
  text-align: center;
  padding-bottom: 10px;
}

.github {
  width: 100px;
  height: 40px;
}

.swagger {
  @extend .github;
}

.github a,
.swagger a {
  @extend .github;
  padding: 10px;
  color: #f0ffff;
}

.github a {
  background-color: #24292e;
}

.swagger a {
  background-color: #38b832;
}

@media (min-width: 768px) {
  .created-by {
    padding-bottom: 15px;
  }
}

@media (min-width: 1024px) {
  .created-by {
    padding-bottom: 20px;
  }
}
