@import '../variables.scss';

.article {
  width: 600px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.article-title {
  font-family: $title-font;
  color: $color-light-bright;
  font-size: 22px;
  padding: 0 0 14px 8px;
}

.article-image {
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3);
}

.article-text {
  padding: 35px 0 25px;
  line-height: 1.5;
}

.article-author, .article-date {
  padding-bottom: 10px;
}

.article-span {
  font-family: $thin-font;
  color: $color-bright;
}
