@import '../variables.scss';

.article {
  padding-bottom: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.article-title {
  font-family: $title-font;
  color: $color-additional;
  font-size: 22px;
  padding: 0 0 14px 8px;
}

.article-image {
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3);
}

.article-text {
  word-wrap: break-word;
  padding: 25px 0 15px;
  line-height: 1.5;
}

.article-author,
.article-date {
  padding-bottom: 10px;
}

.article-span {
  font-family: $thin-font;
  color: $color-bright;
}

@media (min-width: 768px) {
  .article {
    align-items: start;
  }
}

@media (min-width: 1024px) {
  .article-text {
    padding: 35px 0 25px;
  }
}
