<article class="example">
  <h1>HTML</h1>

  <img src="images/demo.jpg" alt="" width="320" />
  <p>
    Lorem, ipsum dolor.
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, vel.
    <code>src/partials</code>. Lorem ipsum dolor, sit amet consectetur adipisicing.
    <code>index.html</code>.
  </p>

  <p>
    Lorem, ipsum. <code>example.html</code> &mdash; Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Repellendus dicta atque dolor at voluptates aut maxime.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing.
    <code> &lt;include src="./partials/lorem.html"&gt;&lt;/include&gt; </code>
  </p>

  <div class="background"></div>  
</article>
