<footer class="footer">
  <div class="container">
    <p class="created-by">
      Created by: Oleksandra Ablitsova, Osama Elmenshawy, Omar Salah, Elian Kunze
    </p>
    <div class="buttons">
      <button class="github" type="button">
        <a href="https://github.com/Saashen/CSPW210-frontend">GitHub</a>
      </button>
      <button class="swagger" type="button">
        <a href="https://app.swaggerhub.com/apis-docs/Saashen/CSPW210/1.0.0/">Swagger</a>
      </button>
    </div>
  </div>
</footer>
