<header class="header">
  <div class="container">
    <nav class="navigation">
      <a href="#" class="routing-path logo">IU Blog</a>
      <ul class="menu">
        <li>
          <a href="#" class="routing-path menu-link">Registration</a>
        </li>
        <li>
          <a href="#" class="routing-path menu-link">Log In</a>
        </li>
        <li>
          <a href="#" class="routing-path menu-link">New post</a>
        </li>
        <li><a href="#" class="log-out routing-path menu-link">Log Out</a></li>
      </ul>
    </nav>
  </div>
</header>
