<form
  action="/auth/register"
  method="POST"
  class="registration-form"
  enctype="application/x-www-form-urlencoded"
>
  <h2>Create account:</h2>
  <label for="name">Name</label>
  <input
    class="registration-input"
    type="text"
    placeholder="Teddy Bear"
    name="name"
    id="name"
    required
  />

  <label for="email">Email</label>
  <input
    class="registration-input"
    type="email"
    placeholder="teddy.bear@mail.com"
    name="email"
    id="email"
    required
  />

  <label for="password">Password</label>
  <input
    class="registration-input"
    type="password"
    placeholder="Secret Teddy Password"
    name="password"
    id="password"
    required
  />
  <button type="submit" class="register-button">Register</button>
</form>
