<form
  class="authforms-form registration-form"
  enctype="application/x-www-form-urlencoded"
>
  <h2 class="authforms-header">Create account:</h2>
  <label for="name">Name</label>
  <input
  class="authforms-input"
  type="text"
  placeholder="Teddy Bear"
  name="name"
  id="name"
/>
  <!-- <input
    class="authforms-input"
    type="text"
    placeholder="Teddy Bear"
    autocomplete="off"
    name="name"
    id="name"
    required
  /> -->

  <label for="email">Email</label>
  <input
    class="authforms-input"
    type="email"
    placeholder="teddy.bear@mail.com"
    name="email"
    id="email"
  />

  <label for="password">Password</label>
  <input
    class="authforms-input"
    type="password"
    placeholder="Secret Teddy Password"
    name="password"
    id="password"
  />
  <button type="submit" class="authforms-button">Register</button>
</form>
