* {
  text-align: center;
}

ul {
  list-style: none;
  padding: 20px;
}

.articles:hover {
  transition: ease 100ms;
  border-color: rgb(9,9,121);
  border-color:linear-gradient(90deg, rgba(9,9,121,1) 28%, rgba(235,24,9,1) 43%, rgba(234,255,0,1) 86%);
}
.item:hover {
  transition: ease 100ms;
  border: 10px solid #000000;
}
img {
  width: 100%;
  height: auto;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 10px solid #a40000;
  margin: 0 auto 0 auto;
  width: 85%;
}
.item {
  width: 200px;
  height: auto;
  margin: 2% 2%;
  position: relative;
  border-radius: 10px;
  border: 3px solid #000000;
  padding: 5px;
}
.item > h3 {
  height: 30px;
  font-size: 18px;
  font-style: italic;

}
.item > h4 {
  height: 45px;
  font-size: 12px;
}
@media screen and (min-width: 1230px) {
  .articles {
    width: 1080px;
  }
}
