@import '../variables';

.registration-form {
  font-family: $regular-font;
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.registration-input {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 15px;
  border: 3px solid #149c90;
  border-radius: 0px 20px;
}

.registration-input::placeholder {
  color: #55c08c;
}

.register-button {
  height: 45px;
  margin-top: 15px;
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  font-family: $title-font;
}

@media (min-width: 768px) {
  .registration-form {
    width: 400px;
  }
}
