@import '../variables.scss';

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(95, 192, 160, 0.4);
  padding: 0 16px;
}

.logo {
  font-family: $title-font;
  font-size: 40px;
  color: $color-additional;
}

.menu {
  width: 180px;
  display: flex;
  justify-content: space-around;
  font-family: $thin-font;
  font-size: 20px;
}

.menu li {
  padding: 24px 0 19px;
}

.menu-link {
  color: $color-bright;
  border-bottom: 5px double transparent;
}

@keyframes underlines {
  0% {
    border-bottom: 5px double transparent;
  }

  100% {
    border-bottom: 5px double rgb(95, 192, 160, 0.4);
  }
}

.menu-link:hover,
.menu-link:focus {
  animation: underlines 0.6s alternate both;
  outline: none;
}
