@import '../variables.scss';

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(95, 192, 160, 0.4);
  padding: 0 16px;
}

.logo {
  font-family: $title-font;
  font-size: 40px;
  color: $color-additional;
}

.menu {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $thin-font;
  font-size: 20px;
}

.menu li {
  padding: 24px 14px 19px;
}

.menu-link {
  color: $color-bright;
  border-bottom: 5px double transparent;
}

.menu-link:hover {
  border-bottom: 5px double rgb(95, 192, 160, 0.4);
}
